
body,html {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0px;
}

#loading {
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.loading {
  position: absolute;
  z-index: 4;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-title {
  color: white;
}

section {
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/squid.jpg');
  background-size: cover;
  height: 1200px;
  border-bottom: 4px black solid;
}

.title {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 140px;
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 88px;
  }

  .intro-2 {
    height: 1600px;
    overflow-y: hidden;
  }
}



.intro-2 {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  border-bottom: 4px black solid;
  height: 1200px;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  height: inherit;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}


.text {
  position: absolute;
  height: inherit;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


#love-title {
}

@media screen and (max-width: 600px) {
  #love-title {
    left: 10px;
  }

  #last {
    display: none;
  }
}


.friends {
  width: 33.3%;
  /* border: 4px white solid; */
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .friends {
    width: 50%;
  }
}

.video {
  width: 100%;
  height: 100vh;
}

.intro-3 {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  height: 1000px;
  align-items: center;
  justify-content: center;
  background-image: url(./images/beautiful-demi.jpg);
  background-size: cover;
  border-bottom: 4px black solid;
}

/* heart */

.heart {
  position: relative;
}
.heart,
.heart:before,
.heart:after {
  display: block;
  width: 50px;
  height: 50px;
  background-color: red;
  transform: rotateZ(45deg);
}
.heart:before,
.heart:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.heart:before {
  transform: translateX(-50%);
  -webkit-animation: animX 3s infinite 0.75s;
          animation: animX 3s infinite 0.75s;
}
.heart:after {
  transform: translateY(-50%);
  -webkit-animation: animY 3s infinite;
          animation: animY 3s infinite;
}
@-webkit-keyframes animX {
  0%, 25% {
    transform: translateX(-50%);
  }
  50%, 75% {
    transform: translateX(50%);
  }
}
@keyframes animX {
  0%, 25% {
    transform: translateX(-50%);
  }
  50%, 75% {
    transform: translateX(50%);
  }
}
@-webkit-keyframes animY {
  0%, 25% {
    transform: translateY(-50%);
  }
  50%, 75% {
    transform: translateY(50%);
  }
}
@keyframes animY {
  0%, 25% {
    transform: translateY(-50%);
  }
  50%, 75% {
    transform: translateY(50%);
  }
}

.final {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/beautiful.jpg');
  background-size: cover;
  height: 1600px;
  border-bottom: 4px black solid;
}


@media screen and (max-width: 600px) {
  .final {
    height: 1000px;
  }
}
